@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {margin: 0;padding: 0;box-sizing: border-box;}
body{font-size: 85%;font-family: "Roboto", sans-serif;}

.container{display: flex; flex-direction: column; gap: 50px;justify-content: center; align-items: center; height: 100vh;}
.container h1{font-size: 3rem; font-weight: 700;}

#value {font-size: 4rem; font-weight: 700;}

.btn-container{display: flex; gap:10px; flex-wrap: wrap;}
.btn{padding: 10px 18px; font-size: 1.5rem; border: solid 2px #00b7ff; border-radius: 5px; background: none; transition: all .3s;}
.btn:hover{background: #00b7ff; color: #fff; cursor: pointer;}